body{
	background-color: #EEC3BA;
}

.jumbotron{
	background-color: #EEEEEE;
}

.jumbotron h1{
	text-align: center;
	color: white;
}


.navbar{
	background-color: #EEC3BA;
	height: 100px;
	margin-bottom: 0;
}

.navbar-default{
	border: none;
}

.navbar-default .navbar-nav li a{
	font-family: Verdana;
	color: white;
}

.navbar-default .navbar-nav .active a{
	color:white;
	background-color: #EEEEEE;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

#memberJumbotron.jumbotron{
	background-color: rgb(84, 110, 122);
}

img{
	width:300px;
	height:375px;
}



