body{
	background-color: #EEC3BA;
}


p{
	padding:0;
	margin:0;
	border:none;
}

#header{
	height: 100px;
	background-color: #EEC3BA;
}

@font-face {
	font-family: Bariol_Regular;
	src: url('../font/Bariol_Regular.otf');
}

#pageTitle p{
	text-align: center;
    color: rgb(84, 110, 122);;
	font-family: Bariol_Regular;
	font-size: 600%;
	font-weight: bold;

}
.container{
	border-style: solid;
}

.col-lg-6{
	padding:0;
}

.col-lg-12{
	padding:0;
}

.box{
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: brightness(50%);
	padding:0;
}
.box#box1{
	height: 325px;
	width:100%;
    background-image: url("../img/homePage2.jpg");
	opacity:75%;
}

.box#box2{
	height: 325px;
	width:100%;
    background-image: url("../img/homePage3.jpg");
	 }

.box#box3{
	height: 325px;
	width:100%;
	background-image:
	    url("../img/homePage1.jpg");
}

.box#box4{
	height: 325px;
	width:100%;
    background-image: url("../img/homePage4.jpg");
    padding:0;
}

.selections {
padding:0;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;

}

.selections p{
	font-family: Bariol_Regular;
	color: #FEFEF3;
	font-size: 400%;
	font-weight:900;
	margin-top: 0px;
}

.selections#about{
	height:57px;
	width:201px;
}

.selections#media{
	height: 57px;
	width:143px;
}
.selections#contact{
	height: 57px;
	width:241px;
}

.selections#news{
	height: 57px;
	width:119px;
}
.selections#about p{
}

.selections#media p{
}

.selections#contact p{
}

.selections#news p{
}
