h1,h5{
	color:white;
	text-align: center;
}


.textbox{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 2%;
	/*display:inline;*/
	font-size:125%;
}



.col-lg-12.col-md-12#shade1{
	height: 30vh;
}

.col-lg-12.col-md-12#shade2{
	height:30vh;
}

.col-md-12#shade3{
	height: 100vh;
}

#shade1{
	background-color: #DEDEDE;
}

#shade2{
	background-color: #BBBBBB;
}

#shade3{
	background-color: #AAAAAA;
}


a{
	color: white;
}


/*.slider{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}*/


.icon{
	padding: 0 0 0 0;
	height: 15vh;
}

.icons{
	padding: 0 0 0 0;
}

img{
	max-width: 100%;
	height: auto;
}

.col-xs-6 img{
	width:90%;
	height: auto;
	padding-bottom: 1em;
}

.pictures-collapsed{
	display:none;
}




