body{
	background-color: #EEC3BA;
}

.jumbotron{
	background-color: #DEDEDE;
}

.jumbotron h1{
	text-align: center;
	color: white;
}


.navbar{
	background-color: #EEC3BA;
	height: 100px;
	margin-bottom: 0;
}

.navbar-default{
	border: none;
}

.navbar-default .navbar-nav li a{
	font-family: Verdana;
	color: white;
}

.navbar-default .navbar-nav .active a{
	color:white;
	background-color: #DEDEDE;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

footer.page-footer {
    background-color: rgb(84,110,122);
}